@import url("https://fonts.googleapis.com/css?family=Lora|Roboto&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/booking-section.css");

body {
	font-family: 'Lora', serif;
	font-size: 18px;
	margin: 0px;
	padding-bottom: 30px;
	color: purple;
	background-color: rgba(255,100,170,0.01);
}

h1,h2,h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	text-align: center;
}

a { text-decoration: none;
     font-size: 15px;
     font-weight: 400px;
 }
	

a:hover {
	background-color: white;
	color: purple;
}
